<div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-2 closed">
        <div>

        </div>

    </div>
    <div class="col-lg-2">
    </div>
    <div class="col-md-8 sample">
     <h1 class="text-muted"><b>Gestions Des Users</b></h1><hr>
        <form>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Entrez votre nom" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">E-Mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Entrez votre adresse Email">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="entrez votre mot de passe">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Confirmer Mot de passe</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="entrez votre mot de passe">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tel</label>
            <div class="col-sm-10">
                <input type="text" placeholder="+237 " class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Roles</label>
            <div class="col-sm-10">
                <input type="text" class="form-control">
            </div>
          </div>
          <button class="btn btn-success btn-lg">Soumettre</button> <button class="btn btn-danger btn-lg">Quitter</button>
      </form>

    </div>
</div>
  </div>
<style>
    #logo{
          width: 150px;
          height: 70px;
          margin: 10px;
      }
      form{
        padding-top: 2%;
      }
      button{
          margin: 20px;
      }
      .sample{
        padding: 5%;
      }
      footer{
        background-color: rgba(0, 0, 0, .1);
        padding: 2.1%;
      }
      .closed{
        border-right: 1px solid grey;
        box-shadow: 0 0 0 0ch lightgrey;
        height: 100%;
      }
</style>
