<!-- Menu -->
<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="index.html#home">LINK</a></h1>
    <i class="fa fa-arrow-right menu-close"></i>
    <a href="index.html">Home</a>
    <a href="services.html">Services</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="about.html">About</a>
    <a href="#contact">Contact</a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
  </div>
  <script src="assets/assets/js/modernizr.custom.js"></script>
  <!-- Menu button -->
  <div id="menuToggle"><i class="fa fa-bars"></i></div>
</nav>

<!-- MAIN IMAGE SECTION -->
<div id="aboutwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>We Are Storytellers.<br/>
          Brands Are Our Subjects.
        </h2>
      </div>
    </div><!-- row -->
  </div><!-- /container -->
</div><!-- /aboutwrap -->

<!-- CHART IMAGE SECTION -->
  <div id="chartwrap">
    <div class="container">
      <div class="row mt">
      <div class="col-lg-8 chart hidden-sm hidden-xs">
        <img class="img-responsive" src="assets/assets/img/chart.png" alt="">
      </div><!-- col-lg-8 -->

      <div class="col-lg-4">
        <h1>About Link</h1>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>
      </div><!-- col-lg-4 -->
      </div><!-- /row -->
    </div><!-- /.container -->
  </div><!-- chartwrap -->

<!-- SERVICES SECTION -->
<div id="services">
  <div class="container">
    <div class="row mt">
      <!-- Srvice 1 -->
      <div class="col-lg-1 centered">
        <i class="fa fa-certificate"></i>
      </div>
      <div class="col-lg-3">
        <h3>Quality Design</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <!-- Srvice 2 -->
      <div class="col-lg-1 centered">
        <i class="fa fa-question-circle"></i>
      </div>
      <div class="col-lg-3">
        <h3>Awesome Support</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <!-- Srvice 3 -->
      <div class="col-lg-1 centered">
        <i class="fa fa-globe"></i>
      </div>
      <div class="col-lg-3">
        <h3>Global Services</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <!-- Srvice 4 -->
      <div class="col-lg-1 centered">
        <i class="fa fa-desktop"></i>
      </div>
      <div class="col-lg-3">
        <h3>Responsive Design</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <!-- Srvice 5 -->
      <div class="col-lg-1 centered">
        <i class="fa fa-cog"></i>
      </div>
      <div class="col-lg-3">
        <h3>Easy Configuration</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

      <!-- Srvice 6 -->
      <div class="col-lg-1 centered">
        <i class="fa fa-heart"></i>
      </div>
      <div class="col-lg-3">
        <h3>Crafted With Love</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</div><!-- services section -->


<!-- TEAM INTRODUCTION -->
<div class="container">
  <div class="row mt">
    <div class="col-lg-8">
      <h1>Professional Team</h1>
    </div>
    <div class="col-lg-4"></div>
  </div><!-- row -->
  <div class="row">
    <div class="col-lg-8">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <p><b>CORPORATE BRIEF</b></p>
      <p class="tm">Download the last information about our agency, our notable works, our team members, next projects & more.</p>
      <p class="tm"><a href="#"><i class="fa fa-link"></i> <b>Download PDF</b></a></p>
    </div>
  </div>

</div><!-- container -->

<!-- TEAM MEMBERS -->
<div class="container">
  <div class="row mt centered">
    <div class="col-lg-4">
      <img src="assets/assets/img/team/gianni.png" alt="Gianni">
      <div class="cardinfo">
        <h4><b>GIANNI DI MARCO</b></h4>
        <h6>ART DIRECTOR</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        <p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="assets/assets/img/team/rebecca.png" alt="Rebecca">
      <div class="cardinfo">
        <h4><b>REBECCA ZEARING</b></h4>
        <h6>DESIGN DIRECTOR</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        <p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="assets/assets/img/team/william.png" alt="Gianni">
      <div class="cardinfo">
        <h4><b>WILLIAM SMITH</b></h4>
        <h6>TEAM MANAGER</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        <p><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-envelope"></i></a></p>
      </div>
    </div>
  </div><!-- row -->
</div><!-- container -->




<!-- CALL TO ACTION -->
<div id="call">
  <div class="container">
    <div class="row">
      <h3>THIS IS A CALL TO ACTION AREA</h3>
      <div class="col-lg-8 col-lg-offset-2">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <p><button type="button" class="btn btn-green btn-lg">Call To Action Button</button></p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- Call to action -->

<div class="container">
  <div class="row mt">
    <div class="col-lg-12">
      <h1>Stay Connected</h1>
      <p>Join us on our social networks for all the latest updates, product/service announcements and more.</p>
      <br>
    </div><!-- col-lg-12 -->
  </div><!-- row -->
</div><!-- container -->


<!-- SOCIAL FOOTER --->
<section id="contact"></section>
<div id="sf">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 dg">
        <h4 class="ml">FACEBOOK</h4>
        <p class="centered"><a href="#"><i class="fa fa-facebook"></i></a></p>
        <p class="ml">> Become A Friend</p>
      </div>
      <div class="col-lg-4 lg">
        <h4 class="ml">TWITTER</h4>
        <p class="centered"><a href="#"><i class="fa fa-twitter"></i></a></p>
        <p class="ml">> Follow Us</p>
      </div>
      <div class="col-lg-4 dg">
        <h4 class="ml">GOOGLE +</h4>
        <p class="centered"><a href="#"><i class="fa fa-google-plus"></i></a></p>
        <p class="ml">> Add Us To Your Circle</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- Social Footer -->

<!-- CONTACT FOOTER --->
<!-- <div id="cf">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
            <div id="mapwrap">
          <iframe height="400" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=6&amp;output=embed"></iframe>
        </div>
      </div><!--col-lg-8-->
      


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/assets/js/bootstrap.min.js"></script>
  <script src="assets/assets/js/main.js"></script>
  <script src="assets/assets/js/classie.js"></script>



<style>
  body {
    background-color: #f2f2f2;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
    font-weight: 300;
    color: #333;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 18px;
}
.centered {
    text-align: center;
}
.goright {
    text-align: right;
}
.mt {
    padding-top: 25px;
}
a {
    color: #16a085;
    word-wrap: break-word;
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
}
a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}
a:before, a:after {
    -webkit-transition: color .1s ease-in, background .1s ease-in;
    -moz-transition: color .1s ease-in, background .1s ease-in;
    -ms-transition: color .1s ease-in, background .1s ease-in;
    -o-transition: color .1s ease-in, background .1s ease-in;
    transition: color .1s ease-in, background .1s ease-in;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.btn {
    border-radius: 0;
}
.btn-green {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    font-weight: 300;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
    font-weight: 300;
}
.tm {
    font-size: 14px;
    line-height: 20px;
}
.menu {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}
.menu.menu-open {
    right: 0;
}
.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #1a1a1a;
    width: 200px;
    height: 100%}
.menu h1.logo a {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}
.menu h1.logo a:hover {
    color: #1abc9c;
}
.menu img.logo {
    margin: 20px 0;
    max-width: 160px;
}
.menu a {
    margin-left: 20px;
    color: gray;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.menu a:hover {
    color: #fff;
}
.menu a:active {
    color: #fff;
}
.menu a>i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 14px;
    line-height: 40px;
    margin: 25px 2px;
}
.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: gray;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 20px;
    right: 5px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.menu-close:hover {
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.body-push-toright {
    left: 200px;
}
.body-push-toleft {
    left: -200px;
}
.menu, .body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#headerwrap {
    background: url(../img/header-bg1.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 750px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap h1 {
    margin-top: 130px;
    color: #fff;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: 3px;
}
#headerwrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 2px;
}
#headerwrap i {
    font-size: 35px;
    color: #fff;
}
#headerwrap .spacer {
    margin-top: 220px;
}
#mapwrap {
    margin: 0;
    padding: 0;
}
#serviceswrap {
    background: url(..assets/img/services-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#serviceswrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#aboutwrap {
    background: url(assets/assets/img/about-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#aboutwrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#portwrap {
    background: url(../img/portfolio-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#portwrap h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#sp {
    background: #2f2f2f;
    padding-top: 35px;
    padding-bottom: 35px;
}
#sp h2 {
    color: #fff;
}
#sp-standout {
    background: url(../img/sp-standout-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#portfolio {
    width: 100%}
#services {
    background: #1abc9c;
    margin-top: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}
#services h3 {
    color: #fff;
}
#services p {
    color: #fff;
}
#services i {
    color: #fff;
    font-size: 35px;
    margin-top: 22px;
}
#lg {
    background: #ebebeb;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#lg .desc {
    text-align: left;
}
#call {
    background: #2f2f2f;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}
#call h3 {
    color: #fff;
}
#call p {
    color: #fff;
}
#sf {
    display: block;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-lg-4 {
    margin: 0;
    padding: 15px;
}
#sf .lg {
    background-color: #1abc9c;
}
#sf .dg {
    background-color: #16a085;
}
#sf h4 {
    color: #fff;
}
#sf p {
    color: #fff;
}
#sf .ml {
    margin-left: 30px;
}
#sf i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#cf {
    background: #2f2f2f;
}
#cf h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
#cf p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
}
#cf .container {
    width: 100%}
#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}
.process {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.process li {
    display: block;
    float: left;
    padding: 1px;
    width: 100%;
    opacity: 0;
}
.process li.shown, .no-js .process li, .no-cssanimations .process li {
    opacity: 1;
}
.process li a, .process li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%}
.process.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}#chartwrap {
    width: 100%}
#chartwrap .container {
    margin-left: 0;
    padding-left: 0;
}
#chartwrap h1, #chartwrap p {
    margin-left: 10px;
}
.cardinfo {
    background: #fff;
    padding: 15px;
    margin: 2px;
    text-align: left;
}
.cardinfo i {
    font-size: 18px;
    padding-right: 20px;
}
.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 0;
}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
    opacity: 1;
}
.grid li a, .grid li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%}
.grid img {
    opacity: .7;
}
.grid img:hover {
    opacity: 1;
}
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}
</style>
